<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

  
  <xacro:include filename="$(find my_robot)/parts/prop/property.xacro"/>

  <xacro:macro name="base_v0" >
    <link name="base_link">
      <visual>
        <origin xyz="0 0 -0.05" rpy="1.5707963267949 0 3.141592654"/>
        <geometry>
          <mesh filename="file://$(find my_robot)/meshes/robot_base.stl" />
        </geometry>
        <material name="Red">
          <color rgba="1.0 0.0 0.0 1.0"/>
        </material>
      </visual>
  
      <collision>
        <geometry>
          <box size="${base_length} ${base_width} ${base_height}"/>
        </geometry>
      </collision>
  
      <xacro:box_inertia m="15.0" w="${base_width}" d="${base_length}" h="${base_height}"/>
    </link>
  

  </xacro:macro>
  
</robot>
